{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Sola Richard Olorunfemi - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Sola Richard Olorunfemi."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css\style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images\headshot.JPG' %}" alt="" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Sola R. Olorunfemi</h1>
			<h2 class="quickFade delayThree">Data Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: consult@datasudo.com</li>
				<li>Web: <a href="https://www.datasudo.com">https://www.datasudo.com</a></li>
				<li>Phone: 078not11five8not7eight</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Graduate of Manchester Metropolitan University. Fueled by excitement for machine learning applications applied to real-world problems. I am adept at collecting, analysing, managing and interpreting large datasets, developing new forecasting models and using existing ones for data management tasks.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Founder Datasudo.com</h2>
					<p class="subDetails">August 2020 - Present</p>
					<p>A startup that uses popular and novel machine learning models that are trained on large datasets to predict the future of indexes, cryptocurrencies and emerging startups that are good for investors money. Datasudo.com uses business intelligence to provide financial advice.</article>
				
				<article>
					<h2>Founder More2tech.com</h2>
					<p class="subDetails">November 2018 - Present</p>
					<p>An online training platform where young professionals learn to write python and Javascript programs, and learn HTML, CSS, and Wordpress for both static and dynamic website development for free. More2tech also offers communication training, web and tech solution.</p>
				</article>
				
				<article>
					<h2>Health and Safety Officer, Improved Power Source Nig. Ltd</h2>
					<p class="subDetails">May 2016 - September 2019</p>
					<p>Prepared and presented H&S reports for senior management in comprehensible statistical and graphical formats using data analytic skill. Conducted accident investigation using root cause and fault tree analysis that reduced accident and accident-related costs.
						Communicated H&S obligations to employees through emails, toolbox talks, training, seminars, etc., that improved the company’s H&S compliance.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python, Javascript, HTML and CSS</li>
					<li>Database management (SQL, PyMySQL, MongoDB and PostgreSQL)</li>
					<li>Bash script, CMD and Git </li>
					<li>Docker, Tkinter, AWS, API and cost effective 'serverless' app deployment</li>
					<li>Data acquisition, wrangling, analysis, documentation and communication</li>
					<li>Machine learning using known libraries and/or from scratch</li>
					<li>Business intelligence, business communication and business analysis</li>
					<li>Building and managing data pipelines</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Manchester Metropolitan University</h2>
					<p class="subDetails">MSc Occupational Safety, Health and Environment (2019-2020)</p>
					<li>Case study, Viva Voce and Training Report</li>
					<li>Applied Science for Public Health</li>
					<li>Briefing Paper and Project Development</li>
					<li>Dissertation and Research Methods</li>
					<br>
				</article>
				
				<article>
					<h2>University of Lagos</h2>
					<p class="subDetails">BSc Microbiology (2013-2017)</p>
					<li>Computer Science and Computer as a Problem Solving Tool</li>
					<li>Introduction to Visual Basic Studio, C and Assembly Language</li>
					<li>Information technology</li>
					<li>Mathematics, Statistics for Biologists and Entrepreneurship</li>
					<br>
				</article>

				<article>
					<h2>Victor Computer Training Institute</h2>
					<p class="subDetails">Diploma in Computer (2010)</p>
					<li>Introduction to computer</li>
					<li>Hardwares, Softwares, Storage components and Peripheral Devices</li>
					<li>Microsoft Word, Ms Excel and PowerPoint</li>
					<li>Introduction to different systems (Unix and Windows) and Web surfing</li>
					
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>